main{
    display: block;
    
}
.board{
    margin-top: 30px;
    margin-left: 41%;
    text-align: center;

}
.cell{
    border: 2px solid black;
    width:80px;
    height:80px;
    background-color: lightpink;
    margin: 5px;
    text-align: center;
    font-size:60px;
    float: left;
}

button{
    margin-left: 43%;
    margin-top:20px;
    width: 220px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(243, 187, 82);
    border-color: black;
  
}
